body { font-family: Georgia; color: rgb(27, 21, 21); }
.doc { padding: 10px 80px; margin: 10px auto; background: #c0b4b4; border: solid #666; border-width: 3px 0 2px 0; }
.header img{
    height: 50px;
    
}

.name h2 { text-transform: uppercase; letter-spacing: 2px; }
.contact-info { margin-top: 7px; }
h2 { font-size: 152% }
h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }
a { color: #990003 }

a:hover { text-decoration: none; }
strong { font-weight: bold; }
.footer{
    background-color: red;
}

form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
}
   input, textarea {
      border:2px, solid; 
      outline:0;
      padding: 1em;
      border-radius:8px;
      display: block;
      width: 100%;
      margin-top: 1em;
      font-family: 'Merriweather', sans-serif;
       box-shadow:0 1px 1px rgba(black, 0.1);
      resize: none;
     
    
     
   }
   
   #input-submit {
      color: white; 
      background: red;
      cursor: pointer;
    }
      
  
   
   textarea {
       height: 126px;
   }
 
 
 
 .half {
   float: left;
   width: 48%;
   margin-bottom: 1em;
 }
 
 .right { width: 50%; }
 
 .left {
      margin-right: 2%; 
 }
 
 
 @media (max-width: 480px) {
   .half {
      width: 100%; 
      float: none;
      margin-bottom: 0; 
   }
 }
 
 
 /* Clearfix */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }