* {
    max-width: 700px;
    align-items: center;
    margin: auto;
    font-family: Georgia;
    color: #011936;
    
  }
body{
    background-color: #C0CAAD;
    font-family: Georgia; 
    color: #011936;
    
}
.resumebody {
    display: inline-block;
    margin-top: 5px;
    margin-left: auto;
    text-align: left;
    
  }
.header{
    background-color: #7A82AB;
    
    color: #011936;
    height: 60px;
  }
  .header img{
      align-self: baseline;
      margin: 10px;
  }
  .header h1{text-transform: uppercase;}
  .button{
      background-color: #F78154;
      width: 80px;
  }
  .profile { letter-spacing: 2px; margin: 5px;}
  .skills{
    letter-spacing: 2px; margin: 5px;
  }
  .projects{
    letter-spacing: 2px; margin: 5px;
  }

.contact{
    background-color: #307473;
    letter-spacing: 2px; margin: 5px;
    padding:20px;
    border-radius: 5px;
}
.form_cover h1{
    align-content: center;
    text-align: center;
}

input, textarea {
    padding: 5px;
    border-radius:5px;
    display: block;
    width: 80%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    resize: none;   
 }
 #input-submit{
     background-color: #F78154;
 }
 a { color: #990003 }

a:hover { text-decoration: none; }
strong { font-weight: bold; }

.footer {
    margin: 5px;
    clear: both;
    position: relative;
    padding: 5px;
    
  }
  .footer_text{
      float: right;
  }
